## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [0]:
import tensorflow as tf
#tf.enable_eager_execution()

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

In [2]:
print(tf.__version__)

1.15.0

In [1]:
%tensorflow_version 2.x

TensorFlow 2.x selected.

### Collect Data

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

In [0]:
#dataset = np.loadtxt("/content/drive/My Drive/ANN Mahesh Anand/pima-indians-diabetes.data", delimiter=",")
data = pd.read_csv('/content/drive/My Drive/Internal Lab-6/prices.csv')

### Check all columns in the dataset

In [5]:
data.columns

Index([u'date', u'symbol', u'open', u'close', u'low', u'high', u'volume'], dtype='object')

In [16]:
data.shape

(851264, 7)

In [17]:
data.head()

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

### Drop columns `date` and  `symbol`

In [0]:
data = data.drop(["date", "symbol"], axis=1)

In [19]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [0]:
data = data.iloc[:1000,:]

In [21]:
data.shape

(1000, 5)

In [0]:
data["volume"] = data["volume"]/1000000

In [9]:
data.head()

         open       close         low        high  volume
0  123.430000  125.839996  122.309998  126.250000  2.1636
1  125.239998  119.980003  119.940002  125.540001  2.3864
2  116.379997  114.949997  114.930000  119.739998  2.4895
3  115.480003  116.620003  113.500000  117.440002  2.0063
4  117.010002  114.970001  114.089996  117.330002  1.4086

In [0]:
X = data.drop("volume", axis=1)

In [0]:
y = data["volume"]

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.30,random_state = 7)

In [15]:
X_train.shape

(700, 4)

#### Convert Training and Test Data to numpy float32 arrays

In [17]:
X_train.dtypes
y_train.dtypes

dtype('float64')

In [0]:
X_train =np.array(X_train).astype('float32')
X_test = np.array(X_test).astype('float32')
y_train =np.array(y_train).astype('float32')
y_test = np.array(y_test).astype('float32')

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import Normalizer

transformer = Normalizer()
X_train = transformer.fit_transform(X_train)
X_test = transformer.transform(X_test)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [18]:
y_train.shape

(700,)

In [0]:
y_train = y_train.reshape(-1,1)

In [0]:
#We are initializing weights and Bias of (Input-Hidden Layer)
w1 = tf.random_normal(shape=(4,5))
b1 = tf.zeros(shape=(5))

In [0]:
#We are initializing weights and Bias of (Hidden-Output)
w2 = tf.random_normal(shape=(5,1))
b2 = tf.zeros(shape=(1))

2.Define a function to calculate prediction

In [0]:
def prediction(x, w1, b1,w2,b2):
    
    xw_matmul = tf.matmul(x, w1)
    net1 = tf.add(xw_matmul, b1)
    y=tf.sigmoid(net1)
    net2=tf.matmul(y, w2)+b2
    out=tf.sigmoid(net2)
    return net2,out

3.Loss (Cost) Function [Mean square error]

In [0]:
def loss(predicted_y, desired_y):
  return tf.reduce_mean(tf.square(predicted_y - desired_y))

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
def train(train_x, train_y, w1, b1,w2,b2, learning_rate=0.01):
    
    #Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w1,b1,w2,b2])
        
        net2,current_prediction = prediction(train_x, w1, b1,w2,b2)
        current_loss =loss(net2,train_y)
    
    #Calculate Gradients for Loss with respect to Weights and Bias
    dw1,db1,dw2,db2 = t.gradient(current_loss,[w1, b1,w2,b2])
    
    #Update Weights at output layer
    w2 = w2 - learning_rate*dw2
    b2 = b2 - learning_rate*db2
    
     #Update Weights at hidden layer
    w1 = w1 - learning_rate*dw1
    b1 = b1 - learning_rate*db1
    
    return w1, b1,w2,b2,current_loss

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [37]:
    for i in range(100):
        w1, b1,w2,b2,current_loss = train(X_train, y_train, w1, b1,w2,b2)
        print("Loss at step {:d}: {:.3f}".format(i, current_loss))      #Training loss at each iteration

Loss at step 0: 273.893
Loss at step 1: 273.893
Loss at step 2: 273.893
Loss at step 3: 273.893
Loss at step 4: 273.893
Loss at step 5: 273.893
Loss at step 6: 273.893
Loss at step 7: 273.893
Loss at step 8: 273.893
Loss at step 9: 273.893
Loss at step 10: 273.893
Loss at step 11: 273.893
Loss at step 12: 273.893
Loss at step 13: 273.893
Loss at step 14: 273.893
Loss at step 15: 273.893
Loss at step 16: 273.893
Loss at step 17: 273.893
Loss at step 18: 273.893
Loss at step 19: 273.893
Loss at step 20: 273.893
Loss at step 21: 273.892
Loss at step 22: 273.892
Loss at step 23: 273.892
Loss at step 24: 273.892
Loss at step 25: 273.892
Loss at step 26: 273.892
Loss at step 27: 273.892
Loss at step 28: 273.892
Loss at step 29: 273.892
Loss at step 30: 273.892
Loss at step 31: 273.892
Loss at step 32: 273.892
Loss at step 33: 273.892
Loss at step 34: 273.892
Loss at step 35: 273.892
Loss at step 36: 273.892
Loss at step 37: 273.892
Loss at step 38: 273.892
Loss at step 39: 273.892
Loss at step 40: 273.892
Loss at step 41: 273.892
Loss at step 42: 273.892
Loss at step 43: 273.892
Loss at step 44: 273.892
Loss at step 45: 273.892
Loss at step 46: 273.892
Loss at step 47: 273.892
Loss at step 48: 273.892
Loss at step 49: 273.892
Loss at step 50: 273.892
Loss at step 51: 273.892
Loss at step 52: 273.892
Loss at step 53: 273.892
Loss at step 54: 273.892
Loss at step 55: 273.892
Loss at step 56: 273.892
Loss at step 57: 273.892
Loss at step 58: 273.892
Loss at step 59: 273.892
Loss at step 60: 273.892
Loss at step 61: 273.892
Loss at step 62: 273.892
Loss at step 63: 273.892
Loss at step 64: 273.892
Loss at step 65: 273.892
Loss at step 66: 273.892
Loss at step 67: 273.892
Loss at step 68: 273.892
Loss at step 69: 273.892
Loss at step 70: 273.892
Loss at step 71: 273.892
Loss at step 72: 273.892
Loss at step 73: 273.892
Loss at step 74: 273.892
Loss at step 75: 273.892
Loss at step 76: 273.892
Loss at step 77: 273.892
Loss at step 78: 273.892
Loss at step 79: 273.892
Loss at step 80: 273.892
Loss at step 81: 273.892
Loss at step 82: 273.892
Loss at step 83: 273.892
Loss at step 84: 273.892
Loss at step 85: 273.892
Loss at step 86: 273.892
Loss at step 87: 273.892
Loss at step 88: 273.892
Loss at step 89: 273.892
Loss at step 90: 273.892
Loss at step 91: 273.892
Loss at step 92: 273.892
Loss at step 93: 273.892
Loss at step 94: 273.891
Loss at step 95: 273.891
Loss at step 96: 273.891
Loss at step 97: 273.891
Loss at step 98: 273.891
Loss at step 99: 273.891

In [38]:
j =0 
for i in range(100):
        j = j+1
        w1, b1,w2,b2,current_loss = train(X_train, y_train, w1, b1,w2,b2)
        if (j==5) :
          print("Loss at step {:d}: {:.3f}".format(i, current_loss))      #Training loss at each iteration
          j=0

Loss at step 4: 273.891
Loss at step 9: 273.891
Loss at step 14: 273.891
Loss at step 19: 273.891
Loss at step 24: 273.891
Loss at step 29: 273.891
Loss at step 34: 273.891
Loss at step 39: 273.891
Loss at step 44: 273.891
Loss at step 49: 273.891
Loss at step 54: 273.891
Loss at step 59: 273.891
Loss at step 64: 273.891
Loss at step 69: 273.890
Loss at step 74: 273.890
Loss at step 79: 273.890
Loss at step 84: 273.890
Loss at step 89: 273.890
Loss at step 94: 273.890
Loss at step 99: 273.890

### Get the shapes and values of W and b

In [33]:
w1

<tf.Tensor: id=27024, shape=(4, 5), dtype=float32, numpy=
array([[ 0.56307197,  0.5974973 , -2.1882133 , -1.1882637 , -0.31819642],
       [ 0.7504402 ,  0.18279804,  0.56548864,  0.7103052 ,  0.8293352 ],
       [ 1.4857831 ,  0.44716352, -0.9485869 ,  0.62377375, -0.95944476],
       [ 0.9408965 ,  0.4884783 ,  1.7927797 , -0.36954525, -0.09329645]],
      dtype=float32)>

In [34]:
b1

<tf.Tensor: id=27027, shape=(5,), dtype=float32, numpy=
array([ 0.22770372,  0.02868305,  0.5783496 , -0.21160543,  0.30046493],
      dtype=float32)>

In [35]:
w2

<tf.Tensor: id=27018, shape=(5, 1), dtype=float32, numpy=
array([[ 1.8857754 ],
       [ 0.69347465],
       [ 1.9949948 ],
       [-0.04412334],
       [ 1.142733  ]], dtype=float32)>

In [36]:
b2

### Model Prediction on 1st Examples in Test Dataset

In [41]:
y_pred,_=prediction(X_test,w1,b1,w2,b2)
y_pred

<tf.Tensor: id=41447, shape=(300, 1), dtype=float32, numpy=
array([[5.6059194],
       [5.6078753],
       [5.616567 ],
       [5.6022005],
       [5.632062 ],
       [5.607492 ],
       [5.603563 ],
       [5.6115804],
       [5.6055694],
       [5.6105304],
       [5.6089115],
       [5.613599 ],
       [5.6118126],
       [5.611454 ],
       [5.6085887],
       [5.6100054],
       [5.6247225],
       [5.607809 ],
       [5.6064663],
       [5.618067 ],
       [5.610692 ],
       [5.612874 ],
       [5.6042852],
       [5.6040716],
       [5.6032853],
       [5.6084433],
       [5.631293 ],
       [5.618208 ],
       [5.6409254],
       [5.6383085],
       [5.605815 ],
       [5.6176395],
       [5.6143527],
       [5.609762 ],
       [5.6254287],
       [5.611258 ],
       [5.613589 ],
       [5.6047726],
       [5.6164684],
       [5.619207 ],
       [5.6139736],
       [5.6036253],
       [5.6130733],
       [5.619395 ],
       [5.6022124],
       [5.6049895],
       [5.6216946],
       [5.608962 ],
       [5.626375 ],
       [5.6073585],
       [5.6435003],
       [5.6187034],
       [5.6129045],
       [5.614731 ],
       [5.6120787],
       [5.615108 ],
       [5.607964 ],
       [5.609543 ],
       [5.6320353],
       [5.6046124],
       [5.6142883],
       [5.602901 ],
       [5.6177635],
       [5.6188774],
       [5.6114187],
       [5.6122756],
       [5.6124334],
       [5.6202645],
       [5.607765 ],
       [5.613056 ],
       [5.6074724],
       [5.6042795],
       [5.612459 ],
       [5.6288233],
       [5.6092286],
       [5.611327 ],
       [5.608604 ],
       [5.603812 ],
       [5.615157 ],
       [5.611986 ],
       [5.6104207],
       [5.6232295],
       [5.649747 ],
       [5.6057487],
       [5.6263614],
       [5.6036353],
       [5.6036725],
       [5.6055746],
       [5.6049633],
       [5.6039615],
       [5.6041565],
       [5.60689  ],
       [5.6280613],
       [5.6085477],
       [5.6243706],
       [5.607174 ],
       [5.6102047],
       [5.6073575],
       [5.615843 ],
       [5.64617  ],
       [5.614208 ],
       [5.6061325],
       [5.607615 ],
       [5.626429 ],
       [5.6087894],
       [5.6091614],
       [5.6093645],
       [5.6136084],
       [5.607389 ],
       [5.6151505],
       [5.607157 ],
       [5.6110783],
       [5.6278586],
       [5.6045775],
       [5.6031876],
       [5.60728  ],
       [5.617467 ],
       [5.633458 ],
       [5.6079335],
       [5.6058807],
       [5.6138515],
       [5.6146264],
       [5.604371 ],
       [5.603349 ],
       [5.6105556],
       [5.607614 ],
       [5.6268873],
       [5.61266  ],
       [5.6092386],
       [5.607068 ],
       [5.6249895],
       [5.6177745],
       [5.610999 ],
       [5.6080227],
       [5.6073756],
       [5.605261 ],
       [5.6201706],
       [5.603738 ],
       [5.6237106],
       [5.641468 ],
       [5.606385 ],
       [5.618951 ],
       [5.607567 ],
       [5.615527 ],
       [5.603055 ],
       [5.6034646],
       [5.606118 ],
       [5.6102953],
       [5.6140347],
       [5.604186 ],
       [5.6111965],
       [5.60419  ],
       [5.602095 ],
       [5.606642 ],
       [5.61871  ],
       [5.613763 ],
       [5.605806 ],
       [5.60291  ],
       [5.6224184],
       [5.6028414],
       [5.607677 ],
       [5.6046762],
       [5.6143723],
       [5.604166 ],
       [5.6063347],
       [5.6106353],
       [5.604453 ],
       [5.6087723],
       [5.609612 ],
       [5.6120667],
       [5.6027384],
       [5.611222 ],
       [5.61072  ],
       [5.610994 ],
       [5.6143723],
       [5.609235 ],
       [5.6122847],
       [5.61114  ],
       [5.6237574],
       [5.6081266],
       [5.611948 ],
       [5.607758 ],
       [5.605763 ],
       [5.611849 ],
       [5.604698 ],
       [5.6101847],
       [5.6253366],
       [5.6166477],
       [5.6218376],
       [5.620433 ],
       [5.6093473],
       [5.608098 ],
       [5.608899 ],
       [5.607011 ],
       [5.6082826],
       [5.610407 ],
       [5.6105785],
       [5.625505 ],
       [5.6042194],
       [5.6071887],
       [5.6141715],
       [5.6144323],
       [5.611463 ],
       [5.6018295],
       [5.612484 ],
       [5.605567 ],
       [5.612088 ],
       [5.6068325],
       [5.6088715],
       [5.621027 ],
       [5.611987 ],
       [5.605695 ],
       [5.604493 ],
       [5.6037407],
       [5.6045594],
       [5.603758 ],
       [5.6047497],
       [5.6081862],
       [5.6212378],
       [5.605973 ],
       [5.6092634],
       [5.6164494],
       [5.6101894],
       [5.6081495],
       [5.6089973],
       [5.6113276],
       [5.62162  ],
       [5.6032667],
       [5.6063566],
       [5.6217384],
       [5.602974 ],
       [5.617964 ],
       [5.614763 ],
       [5.6205273],
       [5.6229763],
       [5.6249876],
       [5.60987  ],
       [5.606446 ],
       [5.6052437],
       [5.6120257],
       [5.606141 ],
       [5.6228995],
       [5.613159 ],
       [5.615624 ],
       [5.603447 ],
       [5.6094   ],
       [5.613768 ],
       [5.6174603],
       [5.609066 ],
       [5.6065435],
       [5.613639 ],
       [5.669138 ],
       [5.6087117],
       [5.630224 ],
       [5.6088686],
       [5.6022167],
       [5.60738  ],
       [5.605239 ],
       [5.6173673],
       [5.6099586],
       [5.6182337],
       [5.6101193],
       [5.6251554],
       [5.6038055],
       [5.6039915],
       [5.620916 ],
       [5.604109 ],
       [5.627594 ],
       [5.6079226],
       [5.606049 ],
       [5.613811 ],
       [5.6102266],
       [5.614662 ],
       [5.6181903],
       [5.607626 ],
       [5.611999 ],
       [5.6052547],
       [5.6169424],
       [5.621194 ],
       [5.6076813],
       [5.6147146],
       [5.603703 ],
       [5.6047354],
       [5.606531 ],
       [5.6070356],
       [5.6049976],
       [5.6083965],
       [5.6057024],
       [5.6186523],
       [5.6163692],
       [5.63127  ],
       [5.6163673],
       [5.6966567],
       [5.604141 ],
       [5.602432 ],
       [5.6374836],
       [5.6049905],
       [5.621477 ],
       [5.6072435],
       [5.618244 ]], dtype=float32)>

In [42]:
y_test - y_pred

<tf.Tensor: id=41450, shape=(300, 300), dtype=float32, numpy=
array([[-0.7065191 , -4.7830195 , -4.3777194 , ..., -2.2190194 ,
        -3.9351194 , -1.5943193 ],
       [-0.7084751 , -4.7849755 , -4.3796754 , ..., -2.2209754 ,
        -3.9370754 , -1.5962753 ],
       [-0.7171669 , -4.7936673 , -4.388367  , ..., -2.2296672 ,
        -3.9457672 , -1.6049671 ],
       ...,
       [-0.7220769 , -4.7985773 , -4.393277  , ..., -2.2345772 ,
        -3.9506772 , -1.6098771 ],
       [-0.7078433 , -4.7843437 , -4.3790436 , ..., -2.2203436 ,
        -3.9364436 , -1.5956435 ],
       [-0.71884394, -4.7953444 , -4.390044  , ..., -2.2313442 ,
        -3.9474442 , -1.6066442 ]], dtype=float32)>

In [0]:
from sklearn import metrics

In [44]:
cm=metrics.r2_score(y_test,y_pred)
print(cm)

-0.016481337564543397

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [0]:
iris = pd.read_csv('/content/drive/My Drive/Internal Lab-6/11_Iris.csv')

In [7]:
iris.shape

(150, 6)

In [8]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [0]:
iris = pd.get_dummies(iris, columns=["Species"])

In [10]:
iris.head()

   Id  SepalLengthCm  ...  Species_Iris-versicolor  Species_Iris-virginica
0   1            5.1  ...                        0                       0
1   2            4.9  ...                        0                       0
2   3            4.7  ...                        0                       0
3   4            4.6  ...                        0                       0
4   5            5.0  ...                        0                       0

[5 rows x 8 columns]

### Splitting the data into feature set and target set

In [0]:
X = iris.drop(["Id", "Species_Iris-setosa", "Species_Iris-versicolor", "Species_Iris-virginica"], axis=1)

In [0]:
y = iris[["Species_Iris-setosa", "Species_Iris-versicolor", "Species_Iris-virginica"]]

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [0]:
#tf.compat.v1.disable_eager_execution()

In [0]:
from keras.models import Sequential
from keras.layers import Dense

# define base model
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(4, input_dim=4, kernel_initializer='normal', activation='relu')) # first value 13 - number of neurons in first hidden layer can be anyhting - 10, 8 
model.add(tf.keras.layers.Dense(3, kernel_initializer='normal', activation="softmax")) #last dense id treated as output layer # regression always one output , but for classification for binary we can have onr ouput but for multiclass we would have 2-3 outputs due to one hot encoding  
# Compile model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy',tf.keras.metrics.CategoricalAccuracy()])

### Model Training

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.30,random_state = 7)

In [26]:
y_test.shape

(45, 3)

In [28]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <type 'NoneType'>
Train on 105 samples, validate on 45 samples
Epoch 1/50
105/105 [==============================] - 0s 1ms/sample - loss: 1.0978 - accuracy: 0.3238 - categorical_accuracy: 0.3238 - val_loss: 1.0976 - val_accuracy: 0.4444 - val_categorical_accuracy: 0.4444
Epoch 2/50
105/105 [==============================] - 0s 116us/sample - loss: 1.0975 - accuracy: 0.4857 - categorical_accuracy: 0.4857 - val_loss: 1.0974 - val_accuracy: 0.5778 - val_categorical_accuracy: 0.5778
Epoch 3/50
105/105 [==============================] - 0s 117us/sample - loss: 1.0974 - accuracy: 0.5714 - categorical_accuracy: 0.5714 - val_loss: 1.0975 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 4/50
105/105 [==============================] - 0s 131us/sample - loss: 1.0974 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0973 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 5/50
105/105 [==============================] - 0s 122us/sample - loss: 1.0972 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0969 - val_accuracy: 0.4444 - val_categorical_accuracy: 0.4444
Epoch 6/50
105/105 [==============================] - 0s 114us/sample - loss: 1.0971 - accuracy: 0.4286 - categorical_accuracy: 0.4286 - val_loss: 1.0970 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 7/50
105/105 [==============================] - 0s 122us/sample - loss: 1.0968 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0971 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 8/50
105/105 [==============================] - 0s 95us/sample - loss: 1.0966 - accuracy: 0.6476 - categorical_accuracy: 0.6476 - val_loss: 1.0969 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 9/50
105/105 [==============================] - 0s 93us/sample - loss: 1.0964 - accuracy: 0.6476 - categorical_accuracy: 0.6476 - val_loss: 1.0968 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 10/50
105/105 [==============================] - 0s 110us/sample - loss: 1.0962 - accuracy: 0.6476 - categorical_accuracy: 0.6476 - val_loss: 1.0966 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 11/50
105/105 [==============================] - 0s 102us/sample - loss: 1.0961 - accuracy: 0.6667 - categorical_accuracy: 0.6667 - val_loss: 1.0967 - val_accuracy: 0.3333 - val_categorical_accuracy: 0.3333
Epoch 12/50
105/105 [==============================] - 0s 111us/sample - loss: 1.0958 - accuracy: 0.4476 - categorical_accuracy: 0.4476 - val_loss: 1.0965 - val_accuracy: 0.3333 - val_categorical_accuracy: 0.3333
Epoch 13/50
105/105 [==============================] - 0s 101us/sample - loss: 1.0955 - accuracy: 0.4857 - categorical_accuracy: 0.4857 - val_loss: 1.0962 - val_accuracy: 0.3333 - val_categorical_accuracy: 0.3333
Epoch 14/50
105/105 [==============================] - 0s 115us/sample - loss: 1.0953 - accuracy: 0.4571 - categorical_accuracy: 0.4571 - val_loss: 1.0960 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 15/50
105/105 [==============================] - 0s 123us/sample - loss: 1.0949 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0956 - val_accuracy: 0.4000 - val_categorical_accuracy: 0.4000
Epoch 16/50
105/105 [==============================] - 0s 129us/sample - loss: 1.0947 - accuracy: 0.4667 - categorical_accuracy: 0.4667 - val_loss: 1.0954 - val_accuracy: 0.3333 - val_categorical_accuracy: 0.3333
Epoch 17/50
105/105 [==============================] - 0s 134us/sample - loss: 1.0943 - accuracy: 0.4571 - categorical_accuracy: 0.4571 - val_loss: 1.0951 - val_accuracy: 0.4222 - val_categorical_accuracy: 0.4222
Epoch 18/50
105/105 [==============================] - 0s 132us/sample - loss: 1.0940 - accuracy: 0.5143 - categorical_accuracy: 0.5143 - val_loss: 1.0947 - val_accuracy: 0.6000 - val_categorical_accuracy: 0.6000
Epoch 19/50
105/105 [==============================] - 0s 137us/sample - loss: 1.0936 - accuracy: 0.6095 - categorical_accuracy: 0.6095 - val_loss: 1.0942 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 20/50
105/105 [==============================] - 0s 114us/sample - loss: 1.0932 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0942 - val_accuracy: 0.5778 - val_categorical_accuracy: 0.5778
Epoch 21/50
105/105 [==============================] - 0s 137us/sample - loss: 1.0928 - accuracy: 0.5905 - categorical_accuracy: 0.5905 - val_loss: 1.0938 - val_accuracy: 0.5111 - val_categorical_accuracy: 0.5111
Epoch 22/50
105/105 [==============================] - 0s 116us/sample - loss: 1.0923 - accuracy: 0.5429 - categorical_accuracy: 0.5429 - val_loss: 1.0936 - val_accuracy: 0.6000 - val_categorical_accuracy: 0.6000
Epoch 23/50
105/105 [==============================] - 0s 117us/sample - loss: 1.0918 - accuracy: 0.6190 - categorical_accuracy: 0.6190 - val_loss: 1.0930 - val_accuracy: 0.6000 - val_categorical_accuracy: 0.6000
Epoch 24/50
105/105 [==============================] - 0s 105us/sample - loss: 1.0913 - accuracy: 0.6190 - categorical_accuracy: 0.6190 - val_loss: 1.0923 - val_accuracy: 0.6000 - val_categorical_accuracy: 0.6000
Epoch 25/50
105/105 [==============================] - 0s 106us/sample - loss: 1.0907 - accuracy: 0.6000 - categorical_accuracy: 0.6000 - val_loss: 1.0918 - val_accuracy: 0.6000 - val_categorical_accuracy: 0.6000
Epoch 26/50
105/105 [==============================] - 0s 125us/sample - loss: 1.0900 - accuracy: 0.6286 - categorical_accuracy: 0.6286 - val_loss: 1.0911 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 27/50
105/105 [==============================] - 0s 112us/sample - loss: 1.0894 - accuracy: 0.6571 - categorical_accuracy: 0.6571 - val_loss: 1.0903 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 28/50
105/105 [==============================] - 0s 116us/sample - loss: 1.0887 - accuracy: 0.6476 - categorical_accuracy: 0.6476 - val_loss: 1.0891 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 29/50
105/105 [==============================] - 0s 115us/sample - loss: 1.0879 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0885 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 30/50
105/105 [==============================] - 0s 131us/sample - loss: 1.0871 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0875 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 31/50
105/105 [==============================] - 0s 129us/sample - loss: 1.0862 - accuracy: 0.6952 - categorical_accuracy: 0.6952 - val_loss: 1.0868 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 32/50
105/105 [==============================] - 0s 177us/sample - loss: 1.0853 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0855 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 33/50
105/105 [==============================] - 0s 134us/sample - loss: 1.0843 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0845 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 34/50
105/105 [==============================] - 0s 153us/sample - loss: 1.0833 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0831 - val_accuracy: 0.6222 - val_categorical_accuracy: 0.6222
Epoch 35/50
105/105 [==============================] - 0s 115us/sample - loss: 1.0821 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0820 - val_accuracy: 0.8667 - val_categorical_accuracy: 0.8667
Epoch 36/50
105/105 [==============================] - 0s 195us/sample - loss: 1.0808 - accuracy: 0.8952 - categorical_accuracy: 0.8952 - val_loss: 1.0807 - val_accuracy: 0.8667 - val_categorical_accuracy: 0.8667
Epoch 37/50
105/105 [==============================] - 0s 110us/sample - loss: 1.0796 - accuracy: 0.9238 - categorical_accuracy: 0.9238 - val_loss: 1.0797 - val_accuracy: 0.8667 - val_categorical_accuracy: 0.8667
Epoch 38/50
105/105 [==============================] - 0s 124us/sample - loss: 1.0784 - accuracy: 0.8286 - categorical_accuracy: 0.8286 - val_loss: 1.0779 - val_accuracy: 0.7333 - val_categorical_accuracy: 0.7333
Epoch 39/50
105/105 [==============================] - 0s 145us/sample - loss: 1.0768 - accuracy: 0.7524 - categorical_accuracy: 0.7524 - val_loss: 1.0768 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 40/50
105/105 [==============================] - 0s 114us/sample - loss: 1.0752 - accuracy: 0.6857 - categorical_accuracy: 0.6857 - val_loss: 1.0749 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 41/50
105/105 [==============================] - 0s 118us/sample - loss: 1.0737 - accuracy: 0.6952 - categorical_accuracy: 0.6952 - val_loss: 1.0721 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 42/50
105/105 [==============================] - 0s 129us/sample - loss: 1.0718 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0702 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 43/50
105/105 [==============================] - 0s 123us/sample - loss: 1.0700 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0679 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 44/50
105/105 [==============================] - 0s 122us/sample - loss: 1.0680 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0665 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 45/50
105/105 [==============================] - 0s 116us/sample - loss: 1.0658 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0640 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 46/50
105/105 [==============================] - 0s 125us/sample - loss: 1.0637 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0611 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 47/50
105/105 [==============================] - 0s 114us/sample - loss: 1.0612 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0576 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 48/50
105/105 [==============================] - 0s 113us/sample - loss: 1.0587 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0541 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 49/50
105/105 [==============================] - 0s 113us/sample - loss: 1.0559 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0514 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444
Epoch 50/50
105/105 [==============================] - 0s 108us/sample - loss: 1.0535 - accuracy: 0.6762 - categorical_accuracy: 0.6762 - val_loss: 1.0485 - val_accuracy: 0.6444 - val_categorical_accuracy: 0.6444

### Model Prediction

In [29]:
output = model.predict(X_test)
print(output)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <type 'NoneType'>
[[0.29594827 0.34681228 0.3572395 ]
 [0.3045472  0.34395152 0.35150123]
 [0.34537297 0.32965878 0.32496822]
 [0.30390978 0.3441655  0.3519247 ]
 [0.30237675 0.34467888 0.35294437]
 [0.34024203 0.33151534 0.3282426 ]
 [0.2967321  0.3465538  0.35671407]
 [0.30611444 0.3434242  0.35046136]
 [0.34317085 0.33045763 0.32637158]
 [0.30243337 0.34465995 0.35290667]
 [0.29486743 0.34716785 0.35796478]
 [0.30423015 0.344058   0.3517118 ]
 [0.34735245 0.32893825 0.32370937]
 [0.2825341  0.3511596  0.3663063 ]
 [0.3437408  0.33025116 0.32600808]
 [0.2996902  0.3455743  0.35473558]
 [0.28468716 0.35047165 0.36484122]
 [0.29136035 0.34831533 0.36032438]
 [0.3444313  0.33000073 0.32556793]
 [0.34266773 0.33063972 0.3266926 ]
 [0.30875373 0.34253207 0.34871426]
 [0.2859278  0.35007346 0.36399874]
 [0.30052823 0.34529555 0.35417622]
 [0.29392526 0.34747705 0.35859773]
 [0.2867845  0.3497978  0.3634177 ]
 [0.29831436 0.34603068 0.35565495]
 [0.30436406 0.34401307 0.35162288]
 [0.30956215 0.34225774 0.3481801 ]
 [0.29414698 0.34740436 0.3584487 ]
 [0.28637406 0.34992993 0.36369598]
 [0.29662776 0.34658822 0.356784  ]
 [0.3133039  0.34098214 0.345714  ]
 [0.35079977 0.3276776  0.32152262]
 [0.2890966  0.3490508  0.3618526 ]
 [0.30372685 0.34422687 0.35204628]
 [0.3422406  0.33079413 0.32696524]
 [0.34425637 0.3300642  0.3256794 ]
 [0.34186158 0.3309311  0.32720733]
 [0.34406897 0.3301322  0.32579887]
 [0.28359    0.3508227  0.36558732]
 [0.2881179  0.34936753 0.3625146 ]
 [0.29689386 0.34650043 0.35660574]
 [0.2868009  0.34979254 0.36340663]
 [0.29052764 0.34858635 0.36088604]
 [0.30795607 0.34280223 0.34924173]]

In [19]:
output.shape

(45, 3)

In [30]:
#y_t = np.argmax(y_test, axis = 1)
y_pred = np.argmax(output, axis = 1)
y_pred

array([2, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 2, 0, 2, 0, 2, 2, 2, 0, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 0, 0, 0, 2, 2, 2, 2, 2,
       2])

### Save the Model

In [34]:
model.save("Iris.html")

WARNING:tensorflow:From /tensorflow-2.0.0/python2.7/tensorflow_core/python/ops/resource_variable_ops.py:1781: calling __init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: Iris.html/assets

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?